{% extends 'master/base.html' %}

{% block body %}
    
<div class="w-50 mx-auto">
    <h1 class="py-3">Profile Information</h1>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title py-2 fs-3"><strong>Username:</strong> {{request.user.username}}</h5>
            <p class="card-text fs-5"><strong>Full Name:</strong> {{user_data.name}}</p>
            <p class="card-text fs-5"><strong>Age:</strong> {{user_data.age}} years</p>
            <p class="card-text fs-5"><strong>Gender:</strong> {{user_data.gender}}</p>
            <p class="card-text fs-5"><strong>Height:</strong> {{user_data.height}} cm</p>
            <p class="card-text fs-5"><strong>Weight:</strong> {{user_data.weight}} kg</p>
            <p class="card-text fs-5"><strong>BMR:</strong> {{user_data.bmr}} kcal</p>

            <div class="row g-3">
                <div class="col-auto">
                    <a href="{% url "update_profile" %}" class="btn btn-primary">Update Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}